/* CSS DOCUMENTATION STYLE SHEET */

.PanelCurved1
{
    border-radius: 25px;
    background: #101010;
    padding: 20px; 
    width: 200px;
    height: 150px;  

}

#TextTitle
{
    font-size: 32px;
    color: white;
    text-align: left;
    font-family: "Arial";
    font-weight: bold;

}
#TextTitleSubHeader{
    font-size: 15px;
    color: rgb(163, 163, 163);
    text-align: left;
    font-family: "Arial";
    font-weight: lighter;
}

body
{
    color: white;
    text-align: center;

}

h1
{
    color: white;
    text-align: left;
    font-family: "Arial";
    font-weight: bold;
}
/*  word-wrap: break-word; */
