/* CSS DOCUMENTATION STYLE SHEET */
main {
    margin: 0;
}
body{
    top: 0px;
}
.PanelCurved1
{
    border-radius: 25px;
    background: #101010;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1%;
    width: 200px;
    height: 150px;  
    max-width: 1000px;

}

.PanelCurved2
{
    border-radius: 20px;
    background: #101010;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 150px;  
    padding: 1%;
    max-width: 1000px;
}

.PanelCurvedImageTitle
{
    border-radius: 10px;
    background: #101010;
    margin-top: 20px;
    margin-bottom: 10px;

    width: 200px;
    height: 150px;  
    max-width: 1000px;
    padding: 1%;
}

.PanelCurvedImage
{
    border-radius: 20px;
    background: #101010;
    margin-top: 0px;
    margin-bottom: 20px;

    width: 200px;
    height: 150px;  
    max-width: 1000px;
    padding: 1%;
}
#TextTitle
{
    font-size: 32px;
    color: rgb(244, 125, 42);
    text-align: left;
    font-family: "Arial";
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 15px;
}
#TextTitleSubHeader{
    font-size: 16px;
    color: rgb(200, 200, 200);
    text-align: left;
    font-family: "Arial";
    margin-top: 6px;
}

body
{
    color: white;
    text-align: left;
    font-family: "Arial";
    font-size: 16px;
    overflow: auto;
    height: 100%;           
    margin: 0;   
}


h1
{
    color: white;
    text-align: left;
    font-family: "Arial";
    font-weight: bold;
}
/*  word-wrap: break-word; */

/*  Layout */

.layout {
    width: 1920px;
    height: 1080px;
  
    display: grid;
    grid:
      "sidebar body" 1fr
      / 30% auto;
    gap: 8px;
  }
  
  .sidebar { grid-area: sidebar; }
  .body { grid-area: body; }
