/* CSS DOCUMENTATION STYLE SHEET */

#PanelCurved1
{
    border-radius: 25px;
    background: #101010;
    padding: 20px; 
    width: 200px;
    height: 150px;  

}

body
{
    color: white;
    text-align: center;

}

h1
{
    color: white;
    text-align: left;
    font-family: "Arial";
    font-weight: bold;
}
/*  word-wrap: break-word; */
