/* CSS MAIN STYLE SHEET */



  
html { scroll-behavior: smooth; } 


body {
    background: rgb(29, 23, 23);
    margin: 0%;
}

p {
    color: whitesmoke;
}

.nav {
    background-color: #000000;
    overflow: hidden;
    height: auto;
    box-shadow: 0px -2px 20px 0px rgb(0, 0, 0);
    align-content:center
}
.LogoHeader {
    float: left;
    padding: 15px; 
}
.PanelCurved1
{
    border-radius: 10px;
    background: #101010;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1%;
    width: 200px;
    height: 150px;  
    max-width: 1000px;
    position: absolute;
    top: auto;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 7%);

}
.HeaderButton {
    float: right;
    color: rgb(244, 125, 42);
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    padding-right: 2.5%;
    padding-top: 1.6%;
    transition-duration: 0.4s;
    cursor: default;
    align-self: center;
    text-shadow: 0px, 0px, 0px, rgb(244, 125, 42);;
}

.HeaderButton:hover {
    font-size: 25px;
    color: rgb(244, 125, 42);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0px, 0px, 20px, rgb(244, 125, 42);
}

.footer {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    position: fixed;
}
